.nav {
  display: flex;
}

.logo {
  width: 3rem;
  height: 3rem;
}

.nav-center {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
  width: 100vw;
  margin-right: 3rem;
}
.nav-center-content {
  padding: 1rem;
}

.hero {
  display: flex;
}

.icon-content {
  display: flex;
  flex-wrap: wrap;
}
.content {
}
.content-description {
  font-size: 0.7rem;
}

.contact-content {
  display: flex;
}
.contact-icon {
  width: 2rem;
  height: 2rem;
}
.contact-button {
  display: flex;
}
