/* 네비게이션 */
.nav {
  display: flex;
}
.logo {
  width: 3rem;
  height: 3rem;
}
.nav-center {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
  width: 100vw;
  margin-right: 3rem;
}
.nav-center-content {
  padding: 1rem;
}

/* 히어로 섹션 */
.hero {
  display: flex;
  position: relative;
}
.hero-back {
  width: 100%;
}
.hero-main {
  position: absolute;
  top: 10rem;
  left: 10rem;
}
.hero-img {
  position: absolute;
  top: 10rem;
  right: 5rem;
}

@media (400px <= width <= 1000px) {
  .hero-main {
    left: 5rem;
  }
  .hero-img {
    right: 2rem;
  }
}

.hero-main-title {
  font-size: x-large;
  font-weight: bold;
}
.hero-main-content {
  padding-bottom: 2rem;
}
.hero-main-button {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: none;
  background-color: #000624;
  color: #fefcff;
  border-radius: 0.5rem;
  font-size: large;
}
.hero-main-button:hover {
  background-color: rgb(5, 23, 112);
}

/* contact */
.contact-content {
  display: flex;
}
.contact-icon {
  width: 2rem;
  height: 2rem;
}
.contact-button {
  display: flex;
}

/* 어바웃 */

#about {
  margin-top: 2rem;
  margin-bottom: 8rem;
}
.about-title {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}
.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
}

.icon-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.icon-description {
  flex: 1;
  padding: 0.5rem;
}
.about-icon {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-description {
  text-align: center;
  font-size: 0.7rem;
}
.icon-description-title {
  text-align: center;
}

/* contact */

#contact {
  position: relative;
}
.contact-back {
  width: 100%;
  height: 100%;
}
.contact-main {
  position: absolute;
  top: 10rem;
  left: 40rem;
}
.contact-main-title {
  margin-bottom: 1rem;
  font-size: xx-large;
}
.contact-main-content {
  margin-bottom: 2rem;
}

.contact-button {
  margin-top: 2rem;
  gap: 1rem;
}
.contact-button-1 {
  border: none;
  background-color: #000624;
  color: #fefcff;
  font-size: large;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
}
.contact-button-1:hover {
  background-color: rgb(5, 23, 112);
}
